@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  color: #f4f6ff;
}

.make-oxxo {
  margin: 0;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-oxxo {
  text-align: center;
  padding: 48px;
  height: auto;
  margin: 0 auto;
  align-self: center;
  padding: 50px 50px 75px 50px;
}

.oxxo-display {
  padding: 20px;
}

.instructions {
  text-align: left;
  padding: 20px;
}
